
body{
  font-family: 'Pacifico', cursive;


}

#title {
  background-color: #ff4c68;
  color: white;
}

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding: 5%;

}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin:20px 20px 50px;
}


.container-fluid{
  padding: 3% 15% 10%;
}

h1{
  font-weight: 900;
  font-size: 3.5rem;
}
h2{
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  
  text-align: center;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
p{
  color: #8f8f8f;
}


.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.5rem;
  font-weight: 100;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  right: 30%;
  position:absolute;

}

.download-button{
  margin: 5% 3% 5% 0;

}

.testimonial-image{
  width: 20%;
  border-radius:100%;
  margin: 20px;


}



.icon{
  color:#ef8172;
  padding-bottom: 5%;

}
.icon:hover{
  color: #ff4c68;
}

/* testimonials */
#testimonials{
  /* padding: 7% 15%; */
  text-align: center;
  background-color:#ef8172;
  color: #fff;
}

.carousel-item{
  padding: 7% 15%;
}

/* pricingsection */
#pricing{
  padding: 100px;
  text-align: center;

}
.pricing-col{
  padding: 3% 2%;
}

#cta{
  padding:7% 15%;
  text-align: center;
  background-color: #ff4c68;



}

@media (max-width: 1028px) {
  .title-image{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;


  }

}

#footer{
  padding:7% 15%;
  text-align: center;

}
.p-footer{
  color: black;
}
.icon-footer{
  color: black;
  margin: 20px 10px;
}
